.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# other
bin/
*.db
key.bin

prouter/__pycache__/

# npm
node_modules/

# C
*.a
*.o
