.article {
    font-family: 'Arial', sans-serif;
    /* A sans-serif font for modern look */
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    /* Padding inside the article for space */
}

.article p {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    /* A serif font for a classic look */
    font-size: 18px;
    /* A font size that's large enough for readability but not too large */
    line-height: 1.8;
    /* Increased line height for better readability */
    color: #333;
    /* A color that's easy on the eyes */
    margin-bottom: 1.5em;
    /* Space after paragraphs to separate text blocks */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .article {
        font-size: 16px;
        /* Slightly smaller font size on smaller screens */
        padding: 15px;
        /* Adjust padding to fit smaller screens */
    }

    .article p {
        font-size: 16px;
        /* Slightly smaller font size on smaller screens */
    }

}

/* Enhance links within articles */
.article a {
    /* Standard link color */
    text-decoration: none;
    /* No underline for a cleaner look */
    border-bottom: 1px solid #1a0dab;
    /* Underline effect with border for links */
    transition: all 0.3s ease;
    /* Transition for hover effect */
}

.article a:hover {
    border-bottom: 1px solid transparent;
    /* Hover effect to remove the border underline */
    background-color: #e8f0fe;
    /* Background highlight on hover */
}

/* If you're using headers within your articles, style them too */
.article h2,
.article h3,
.article h4 {
    color: #000;
    /* Darker color for headers */
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.article h2 {
    font-size: 1.5em;
    /* Larger size for h2 headers */
}

.article h3 {
    font-size: 1.3em;
    /* Smaller than h2 but noticeable */
}

.article h4 {
    font-size: 1.1em;
    /* Subtle heading style */
}

/* Adjustments for lists within articles */
.article ul,
.article ol {
    margin-left: 20px;
    /* Indent lists for clarity */
    padding-left: 0;
}

.article li {
    margin-bottom: 0.5em;
    /* Space between list items */
}

.article p.notice {
    padding: .5rem;
    padding-left: .75rem;
    border-left: solid 4px #fbbc05;
    background: rgba(0,0,25,.025)
}

#banner {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../img/banner.webp);
    margin-bottom: 20px;
    user-select: none;
}

#banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px); /* For Safari compatibility */
    z-index: 1;
}

.banner-title {
    position: absolute;
    right: 5%; 
    bottom: 10%; 
    z-index: 2;
    color: white;
    text-align: right;
    max-width: 40%; 
}


#toc h2 {
    font-size: 1.25rem;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
}

#toc a {
    text-decoration: none;

}

.like-button {
    display: flex;
    align-items: center;
    margin: 30px;
    gap: 20px;
    user-select: none;
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
    transition: transform 0.2s ease; /* Smooth transition for the button */
}

.like-icon {
    width: 70px;
    fill: #888; /* Default color for the icon */
    transition: fill 0.2s ease; /* Smooth color transition for the icon */
}

.like-text {
    font-size: 16px;
    color: #888; /* Matching color with the icon */
    transition: color 0.2s ease; /* Smooth color transition for the text */
    margin: 0;
}

.like-button:hover {
    transform: scale(1.1); /* Slightly enlarges the button on hover */
}
