/* stylelint-disable selector-list-comma-newline-after */

body {
  font-family: 'Noto Sans SC', sans-serif;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: LogoFont;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}


.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
  background-image: url('./imgs/banner.jpg');
}


.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #979797;
}


#featured-post {
  background-attachment: fixed;
  background-image: url('../imgs/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.lead-content {
  min-height: 130px
}

@font-face {
  font-family: LogoFont;
  src: url(.././fonts/logo_font.ttf);
}


.bd-placeholder-img {
  object-fit: cover;
  width: 200px;
  height: 250px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}



.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}


a {
  color: #B98A82;
  /* Replace with your desired color */
}

/* Change the color of all hyperlinks when hovered */
a:hover,
a:focus {
  color: #a07770;
  /* Darken or lighten the color a bit for hover effect */
}

.load-more-block .btn {
  margin-bottom: 4rem;
  border: 2px solid #888;
}

.load-more-block .btn.btn-outline-primary.btn-sm:active,
.load-more-block .btn.btn-outline-primary.btn-sm:hover {
  color: black;
  /* Bootstrap primary blue color */
  background-color: white;
  border: 2px solid #5e5d5d;
}

.blog-footer-logo {
  font-family: LogoFont;
  font-size: 20px;
}

.blog-post {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('.imgs/banner.jpg');
  /* replace 'path-to-your-image.jpg' with the path to your image */
  background-size: cover;
  /* covers the entire div */
  background-position: center;
  /* centers the image */
  padding: 20px;
  /* provides some spacing */
  border-radius: 10px;
  /* round the corners a bit */
  color: #fff;
  /* set text color to white */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* adds a subtle shadow */
  position: relative;
  overflow: hidden;
}

.blog-post h2,
.blog-post p {
  margin-bottom: 20px;
  /* provide spacing between elements */
}

/* ripple effect on every blog-post */
.ripple {
  position: absolute;
  border-radius: 50%; /* Circle shape */
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent white. Adjust color as needed */
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
}

@keyframes ripple-animation {
  to {
      transform: scale(4);
      opacity: 0;
  }
}

.skeleton {
  background: #eee;
  /* light gray */
  border-radius: 4px;
}

.skeleton-shimmer {
  background: linear-gradient(90deg, #eee 25%, #ddd 50%, #eee 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

/* Sample skeleton for blog post title, you can add more for other elements */
.skeleton-title {
  height: 50px;
  width: 80%;
  /* adjust based on your design */
  margin-bottom: 10px;
}

.skeleton-meta {
  height: 20px;
  width: 40%;
  margin-bottom: 10px;
}

.skeleton-text {
  height: 100px;
  width: 100%;
  /* adjust based on your design */
  margin-bottom: 6px;
}

.skeleton-post {
  height: 600px;
  width: 100%;
  /* adjust based on your design */
  margin-bottom: 6px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #5B7493
}

.timeline {
  border-left: 1px solid var(--bs-gray);
  margin-left: 20px;
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: var(--bs-gray);
  left: -38px;
  border-radius: 30%;
  height: 11px;
  width: 11px;
  content: "";
}

.tag {
  margin-right: 2px;
  color: white;
  margin-bottom: 6px;
  border-color: transparent;
}

.tag:hover {
  color: white;
}

.contact-list ol li {
  margin-right: 7px;
  user-select: none;
}

.contact-list svg {
  fill: var(--bs-secondary-color); 
}

.svg-logo:hover svg {
  filter: brightness(0.6); 
}

[data-bs-theme=dark] .load-more-block .btn {
  color: var(--bs-secondary-color);
  background-color: var(--bs-secondary-color);
}


[data-bs-theme=dark] .skeleton {
  background: #5f5f5f;
  /* Dark gray */
  border-radius: 4px;
}

[data-bs-theme=dark] .skeleton-shimmer {
  background: linear-gradient(90deg, #5f5f5f 25%, #797878 50%, #5f5f5f 75%);
  /* Gradient for a subtle shimmer effect in dark mode */
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

[data-bs-theme=dark] .blog-header-logo {
  color: var(--bs-secondary-color)!important;
  filter: drop-shadow(2px 2px 27px #f5df4d);
}

[data-bs-theme=dark] .blog-footer-logo {
  color: var(--bs-secondary-color)!important;
  filter: drop-shadow(2px 2px 10px #f5df4d);
}

.form-control:focus {
  border-color: #7e9fc7;
  box-shadow: 0 0 0 0.25rem #99b5d6; /* This creates a green glow around the input */
}


/* msg-box */
.msg-box {
  position: fixed;
  font-family: 'Noto Sans SC', sans-serif;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  background-color: var(--bs-secondary-color);
  color: white;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.msg-box.show {
  opacity: 1;
}

/* loading animation before the page loaded */
#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bs-body-bg);
  color: black;
  display: flex;
  z-index: 9999;
  font-family: 'LogoFont';
  flex-direction: column; /* vertical alignment */
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

[data-bs-theme=dark] #loadingOverlay {
  color: var(--bs-gray)
}

#loadingOverlay .loadingText {
  font-size: 32px;
  margin-bottom: 20px;
}

#loadingOverlay .loadingBar {
  width: 50%;     /* Shorter loading bar */
  height: 20px;
  background-color: var(--bs-secondary-color);
  position: relative;
  overflow: hidden;
}

#loadingOverlay .loadingBar .innerBar {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #000000;   /* Black color */
  animation: loadingAnimation 1s infinite;
}



@keyframes loadingAnimation {
  0% {
      left: -100%;
  }
  20% {
      left: 100%;
  }
  100% {
      left: 100%;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;  /* Adjust the width as needed */
  height: 8px;  /* Adjust the height for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: transparent;  /* You can set this to a color or leave transparent */
}

::-webkit-scrollbar-thumb {
  background-color: var(--bs-secondary-color);  /* Your desired color for the scrollbar thumb */
  border-radius: 0;  /* This makes the scrollbar square */
}

/* scrollbar For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--bs-secondary-color) transparent;
}

/* seperator */
.separator {
  position: relative;
  text-align: center;
  color: var(--bs-secondary-color);
  font-size: 20px;
  user-select: none;
  margin-bottom: 20px;
}

.separator span {
  background-color: var(--bs-body-bg); /* adjust this if necessary */
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.separator:before {
  content: '';
  display: block;
  height: 1px;
  background-color: #000; /* color of the decorative line */
  position: absolute; /* corrected the typo here */
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.post-description {
  min-height: 50px;
}

/* badge */
.badge {
  cursor: pointer;
  margin-bottom: 3px; /* Adjust the spacing between wrapped tags */
}