.material-btn {
    display: inline-block;
    background-color: #5B7493;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.material-btn:hover {
    background-color: #5B7493; /* Darker shade of primary color */
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
